a {
      cursor: pointer;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.nav-box {
    width: 100%;
    height: 20vh;
}

.nav-box a {
    font-size: 24px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.nav-box a:hover {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    text-underline: none;
    color: black;
    cursor: pointer;
}

.nav2-wrap {
    /*background-color: blueviolet;*/
    text-align: right;
}

.record-title-wrap {
    /*background-color: blueviolet;*/
    text-align: center;
}

.record-title {
    font-size: 54px;
    font-weight: bold;
    margin-bottom: 50px;
}

.flex-center {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
